{% extends "base.html" %}
{% block title %}PythonTop40Server - That page wasn't found{% endblock %}
{% block container_content %}
    <h1>404 - Uh, oh. Page not found!</h1>
    <p>
        Well, this either my fault, or it's your fault, but either way there's little point arguing about it. The page you were looking for is just not there!
        Can I suggest that your try looking in a different location?
    </p>
    <p>
        <strong>Can I suggest that your try looking in a different location?</strong>
    </p>
    <p>The <strong>PythonTop40Server</strong> is designed to serve a JSON-based API that describes the UK Top40 singles and albums, from the following APIs:</p>
    <p>
        <a href="/v1/singles">/v1/singles</a>
        <span class="label label-default">V1</span>
        <span class="label label-info">singles</span>
    </p>
    <p>
        <a href="/v2/singles">/v2/singles</a>
        <span class="label label-default">V2</span>
        <span class="label label-info">singles</span>
    </p>
    <p>
        <a href="/v1/albums">/v1/albums</a>
        <span class="label label-default">V1</span>
        <span class="label label-info">albums</span>
    </p>
    <p>
        <a href="/v2/albums">/v2/albums</a>
        <span class="label label-default">V2</span>
        <span class="label label-info">albums</span>
    </p>
{% endblock %}
