{% extends "base.html" %}
{% block title %}PythonTop40Server - We encountered a server error{% endblock %}
{% block container_content %}
{% raw %}
    <h1>500 - This isn't good. This really isn't good at all!</h1>
    <p>
        An error occurred on our server whilst we were dealing with your request.
    </p>
    <p>
        This could be due to an error with our site, or it could be because the BBC site where the chart information is taken from, is down.
    </p>

    <p>
        You can check the BBC site by visiting either this page:
    </p>
    <p>
        <a href="http://www.bbc.co.uk/radio1/chart/albums/print">http://www.bbc.co.uk/radio1/chart/albums/print</a>
    </p>
    <p>
        or this page:
    </p>
    <p>
        <a href="http://www.bbc.co.uk/radio1/chart/singles/print">http://www.bbc.co.uk/radio1/chart/singles/print</a>
    </p>
    <p>
        In either case, we're looking into the problem so please try again later.
    </p>
    <p>
        Alternatively, you could try to visit the site maintained by <a href="http://ben-major.co.uk/2013/12/uk-top-40-charts-api/">Ben Major</a>.
    </p>
{% endraw %}
{% endblock %}
