{% extends "bootstrap/base.html" %}

{% block title %}CFLyricsServer{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
      <!-- ... -->
    </div>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/sticky-footer.css">
    <link rel="stylesheet" href="/static/css/prettify.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=py&lang=json&skin=sunburst"></script>
    <script>
        // Activate Google Prettify in this page
        addEventListener('load', prettyPrint, false);
        $(document).ready(function(){
            // Add prettyprint class to pre elements
            $('pre').addClass('prettyprint');
        }); // end document.ready
    </script>
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="header">
            <h2 class="text-muted">CFLyricsServer</h2>
        </div>
        <hr/>
        {% block container_content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                {% block footer_content %}(c) 2014 Danny Goodall - All libraries and information freely available under the Apache v2.0 licence{% endblock %}
            </p>
        </div>
    </footer>
{% endblock %}
